@model IEnumerable<SmartLicense_AdminSide.Models.User>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<table class="data-table">
    <thead>
        <tr>
            <th>CNIC</th>
            <th>Name</th>
            <th>Age</th>
            <th>Driving Test</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.CNIC</td>
                <td><a href="@Url.Action("Test", "Home", new { cnic = user.CNIC })">@user.Name</a></td>
                <td>@user.Age</td>
                <td>@(user.HasLicence ? "Passed" : (user.HasLearnerLicence ? "In Progress" : "Not Started"))</td>
            </tr>
        }
    </tbody>
</table>
